/* Pagina */

html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F0E6C4;
    font-family: 'Roboto', sans-serif;
    color: #DB4812;
}

main {
    height: calc(100vh - 8vh);
    margin: 0;
    padding: 0;

}

/* Header */

header {
    background-color: #F0E6C4;
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: start;
    align-items: center;
    height: 8vh;
    box-shadow: 0 2px 4px #e2a28b;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95vw;
    margin: auto;
    padding: auto;
    gap: 24rem;
}

.logo {
    margin: auto;
    padding: auto;
    font-size: min(3em, 5vw);
    color: #DB4812;
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 70vw;
    height: auto;
    margin: auto;
    padding: auto;
}

section[role="region"] {
    width: 100vw;
    padding-top: 2vh;
}

/* Carrosels */

.carousel {
    width: 100vw;
    height: 50vh;
    margin: auto;
    padding: auto;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.swiper-slide img {
    width: 100vw;
    height: 50vh;
    top: 0;
    left: 0;
}

.slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DB4812;
    color: #F0E6C4;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.swiper-slide:hover .slide-content {
    opacity: 1;
}

.slide-content-inner {
    text-align: center;
    padding: 1rem;
}

.slide-content h3 {
    margin-top: 0;
    font-size: 2em;
}

.slide-content a {
    display: inline-block;
    margin-top: 1rem;
    color: #F0E6C4;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border: solid 2px #F0E6C4;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.slide-content a:hover {
    text-decoration: underline;
    background-color: #F0E6C4;
    color: #DB4812;
}

#about-section{
    padding-top: 8vh;
}

footer {
    margin-top: 2rem;
    background-color: #DB4812;
    color: #F0E6C4;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 2px 4px #DB4812;
}

footer a {
    color: #F0E6C4;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
}

/* About */
.team-photo {
    display: block;
    margin: 1rem auto;
    width: 90vw;

    border-radius: 4px;
    box-shadow: 0 2px 4px #DB4812;
    object-fit: cover;
}

/* About: Foto da Equipe */
.team-list {
    list-style: none;
    padding: 0;
    margin: 4rem 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.team-list li {
    flex: 1;
    text-align: center;
    padding: 0.2rem 0.2rem;
    margin: 1rem 2rem;
    background-color: #F0E6C4;
    font-family: 'Poppins', sans-serif;
    color: #DB4812;
    border-radius: 4px;
    box-shadow: 0 1px 1px #dfbfb4;
    transition: transform 0.3s ease;
}

.team-member-photo {
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    box-shadow: #DB4812 0 0 0 2px;
    border-radius: 100%;
}

.team-member-name {
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: #DB4812;
}

.team-member-bio {
    margin: 0 0 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #DB4812;
}

.team-member-social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.team-member-social-links li {
    margin: 0 0.5rem;
}

.team-member-social-link {
    display: block;
    padding: 0.5rem;
    background-color: #DB4812;
    color: #F0E6C4;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.team-member-social-link:hover {
    background-color: #e2a28b;
}

.section-title {
    text-align: center;
    margin-top: 0;
    margin: 1rem;
    font-size: 2rem;
    color: #DB4812;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0 8rem;
    max-width: 70vw;
    margin: auto;
}

.section-content h3 {
    text-align: center;
    margin-top: 0;
    margin: 1rem;
    font-size: 2rem;
    color: #DB4812;
}

.section-content h1 {
    text-align: center;
    margin-top: 0;
    margin: 1rem;
    font-size: 15rem;
    color: #DB4812;
    line-height: .9;
    font-weight: bold;
}

.section-content p {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1vw;
}

/* Articles */
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0 8rem;
    max-width: 70vw;
    margin: auto;
}

article h3 {
    text-align: center;
    font-size: 2rem;
    color: #DB4812;
    margin-top: 10vh;
}

article h1 {
    text-align: center;
    margin-top: 0;
    margin: 1rem;
    font-size: 15rem;
    color: #DB4812;
    line-height: .9;
    font-weight: bold;
}

article p {
    margin-bottom: 1rem;
    line-height: 1.6;
    margin: auto 0.2rem;
    margin-top: 1rem;
}

.featured-articles {
    column-count: 3;
    column-gap: 1 vw;
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
    width: 100vw;
    background-color: #F0E6C4;
    color: #DB4812;
    break-inside: avoid;
    break-after: avoid;
    break-before: avoid;
    break-inside: avoid;
}

.featured-articles article {
    break-inside: avoid;
    margin: 2vw;
    padding: 1vw;
    background-color: #F0E6C4;
    color: #DB4812;
    box-shadow: 0 2px 4px #dfbfb4;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.featured-articles article img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.featured-articles article h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #DB4812;
}

.featured-articles article p {
    margin-bottom: 0.5rem;
    margin: auto 0.1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #DB4812;
}

.featured-articles article a {
    color: #DB4812;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border: solid 2px #DB4812;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    margin: 0.5rem 0;
    display: inline-block;
}


.featured-articles article a:hover {
    background-color: #DB4812;
    color: #F0E6C4;
    text-decoration: underline;
}

#articles-notices {
    column-count: 3;
    column-gap: 1rem;
    padding: 0;
    margin: 0 auto;
    max-width: 100vw;
    width: 100vw;
    background-color: #F0E6C4;
    color: #DB4812;
    break-inside: avoid;
    break-after: avoid;
    break-before: avoid;
    break-inside: avoid;
}

#articles-notices article {
    break-inside: avoid;
    margin: 1rem;
    padding: 1rem;
    background-color: #F0E6C4;
    color: #DB4812;
    box-shadow: 0 2px 4px #dfbfb4;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

#articles-notices article img {
    width: 70vw;
    height: auto;
    margin-bottom: 0.5rem;
    margin: auto 1rem;
    border-radius: 4px;
}

#articles-notices article h4 {
    margin-top: 0;
    margin: 1rem;
    font-size: 1.5rem;
    color: #DB4812;
}

#articles-notices h4 {
    margin-top: 0;
    margin: 1rem;
    font-size: 1.5rem;
    color: #DB4812;
}

#articles-notices p {
    margin-bottom: 0.5rem;
    margin: auto 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #DB4812;

}

nav {
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    gap: 2vw;
}

nav a {
    color: #DB4812;
    text-decoration: none;
    font-size: 32px;
    transition: all .2s ease-in-out;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 1rem;
}

img#logo {
    width: 200px;
    height: auto;
}
/* SubMenu */

.menu .submenu {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F0E6C4;
    border: 1px solid #DB4812;
}


.menu li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
}

@media screen and (max-width: 768px) {
    header {
        background-color: #F0E6C4;
        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        height: 8vh;
        box-shadow: 0 2px 4px #e2a28b;
        position: fixed;
        width: 100vw;
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 95vw;
        margin: auto;
        padding: auto;
        gap: 1rem;
    }

    .logo {
        margin: 0;
        padding: 0;
        font-size: min(1em, 1vw);
        color: #DB4812;
        text-decoration: none;
        font-weight: bold;
    }

    img {
        width: 70vw;
        height: auto;
        margin: auto;
        padding: auto;
    }

    nav {
        margin: auto;
        padding: auto;
        display: flex;
        align-items: center;
        gap: 0.1rem;
    }

    nav a {
        color: #DB4812;
        text-decoration: none;
        font-size: 16px;
        transition: all .2s ease-in-out;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        gap: 0.1rem;
        margin: 0;
        padding: 0;
    }

    nav li {
        font-size: 0.1rem;
    }

    img#logo {
        width: 100px;
        height: auto;
    }

    /* Articles */
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 0 1rem;
        max-width: 90vw;
        margin: auto;
    }

    article h3 {
        text-align: center;
        font-size: 2rem;
        color: #DB4812;
        margin-top: 10vh;
    }

    article h1 {
        text-align: center;
        margin-top: 0;
        margin: 1rem;
        font-size: 15rem;
        color: #DB4812;
        line-height: .9;
        font-weight: bold;
    }

    article p {
        margin-bottom: 1rem;
        line-height: 1.6;
        margin: auto 0.2rem;
        margin-top: 1rem;
    }

    .featured-articles {
        column-count: 3;
        column-gap: 1 vw;
        padding: 0;
        margin: 0 auto;
        max-width: 100vw;
        width: 100vw;
        background-color: #F0E6C4;
        color: #DB4812;
        break-inside: avoid;
        break-after: avoid;
        break-before: avoid;
        break-inside: avoid;
    }

    /* Carrosels */
    .carousel {
        width: 100vw;
        height: 50vw;
        margin: auto;
        padding: auto;
        overflow: hidden;
        position: relative;
    }

    .carousel img {
        width: 100vw;
        height: 50vw;
        top: 0;
        left: 0;
    }

    .carousel-swiper {
        width: 100vw;
        height: 50vw;
        margin: auto;
        padding: auto;
        overflow: hidden;
        position: relative;
    }

    .swiper-slide {
        position: relative;
        overflow: hidden;
        height: 100vw;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
    }

    .swiper-slide img {
        width: 100vw;
        height: 50vw;
        top: 0;
        left: 0;
    }

    .slide-content {
        position: flex;
        width: 100vw;
        height: 100vw;
        margin-top: 1vh;
        padding-top: 12vw;
        background-color: #DB4812;
        color: #F0E6C4;
        display: flex;
        justify-content: center;
        align-items: baseline;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .swiper-slide:hover .slide-content {
        opacity: 1;
    }

    #carousel-section {
        text-align: center;
        padding: 0.1rem;
        margin: 0;
    }


    #carousel-section h3 {
        margin-top: 0;
        font-size: 4vw;
        margin: 0;
        padding: 0;
        width: 80vw;
    }

    .slide-content a {
        display: inline-block;
        margin-top: 0.5vw;
        color: #F0E6C4;
        text-decoration: none;
        padding: 0.2vw 0.5vw;
        border: solid 2px #F0E6C4;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        border-radius: 0.25rem;
        transition: background-color 0.3s ease;
        margin: 0;
        font-size: 2vw;
    }

    #carousel-section a {
        margin-top: 0.5vw;
    }

    .slide-content a:hover {
        text-decoration: underline;
        background-color: #F0E6C4;
        color: #DB4812;
    }

    #carousel-section p {
        margin-bottom: 1rem;
        line-height: 1.6;
        font-size: 2vw;
        margin: 0;
        padding: 0;
        width: 80vw;
    }

    /*MiniBanner*/

    #minibaner-section {
        padding: 0;
        margin: 0;
    }

    #minibaner-section h3 {
        margin: 0;
        padding: 0;
        font-size: small;
        margin-top: -4vh;
    }

    #minibaner-section p {
        font-size: 2vw;
        margin: 0;
        padding: 0;
    }

    /*articles*/
    .featured-articles {
        display: flex;
        flex-direction: column;
    }

    .featured-articles article {
        margin-bottom: 20px;
    }

    .featured-articles {
        flex-direction: column;
    }

    .featured-articles article {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .featured-articles article:last-child {
        margin-right: 0;
    }

    /*About*/
    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        margin: 2rem 1rem;
    }

    .team-list li {
        width: 16rem;
        height: auto;
        list-style: none;
        border-radius: var(--border-radius);
        box-shadow: 0 2px 4px #DB4812;
        background-color: #F0E6C4;
        padding: 1rem;
        margin: 1rem 1rem;

    }

    .team-list ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        margin: 0 1rem;
        padding: auto;
    }

    .team-photo {
        width: 90vw;
        height: 64vw;
        margin: auto;
        padding: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        border-radius: 4px;
        box-shadow: 0 2px 4px #DB4812;
    }

    .team-member-photo {
        width: 240px;
        height: 240px;
        align-items: center;
        justify-content: center;
        box-shadow: #DB4812 0 0 0 2px;
        border-radius: 100%;
    }

    .team-member-social-links {
        list-style: none;
        padding: 0.1rem;
        margin: 0.1rem;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.1rem;
    }

    .team-member-social-links li {
        margin: 0 0.2rem;
        padding: 0.3rem;
    }

    .team-member-social-link {
        display: block;
        padding: 0.1rem;
        margin: auto 0.1rem;
        color: #DB4812;
        background-color: #DB4812;
        color: #F0E6C4;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .team-member-social-link:hover {
        background-color: #e2a28b;
    }

    /* Section Content*/
    .section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: 0 1rem;
        max-width: 24rem;
        margin: auto;
    }

    .section-content h3 {
        text-align: center;
        margin-top: 0;
        margin: 1rem;
        font-size: 2rem;
        color: #DB4812;
    }

    .section-content h1 {
        text-align: center;
        margin-top: 0;
        margin: 1rem;
        font-size: 15rem;
        color: #DB4812;
        line-height: .9;
        font-weight: bold;
    }

    .section-content p {
        padding: 0;
        line-height: 1.6;
        text-align: center;
        margin: 0;
        width: 90vw;
        font-size: 0.7rem;
        text-align: justify;
    }

}